// $liberty: #5F5AA2;
// $amethyst: #9067C6;
// $purple-navy: #4E4A85;
$slate-blue: #026cb6;
$lavender: #0287e4;
$lavender-gray: #CBC9D6;
$white: #FFFFFF;
$ghost-white: #FAF9FF;
$alice-blue: #F2EFFF;
$madison: #2C3E50;